node_modules
.DS_Store
.vscode/*
.eslintcache
.eslintignore

.env
.husky

config
.elasticbeanstalk
coverage

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
